# Env for local startup
API_DEBUG=True
API_HOST=127.0.0.1
API_PORT=8000

DB_URL=postgresql+asyncpg://user:password@localhost:5432/openshelf
DB_DEBUG=True
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_TIMEOUT=30
DB_POOL_RECYCLE=3600