# Env for startup in docker container
API_DEBUG=False
API_HOST=0.0.0.0
API_PORT=8000

DB_URL=postgresql+asyncpg://user:password@localhost:5432/openshelf
DB_DEBUG=False
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_TIMEOUT=30